/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

pg-oid/target
pg-encode/target
pg-copy/target/
pg-joda-time/target/

.docker
