<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%date{ISO8601} %-5level %logger{36} - %msg %n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.http" level="ERROR" additivity="false">
  </logger>

  <logger name="org.eclipse.jetty" level="ERROR" additivity="false">
  </logger>

  <logger name="com.zaxxer.hikari.pool" level="ERROR" additivity="false">
  </logger>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
